<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/2005/Atom">
<head>

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">
        Task List</title>
    <script src="/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div th:include="/layout/header :: header"></div>
<div></div>
<div class="container">
    <div layout:fragment="content">
    </div>
</div>
<div th:include="/layout/footer :: footer"></div>
</body>
</html>